body{
    background: #231955;
    color: white;
}
#IndexGame{
    height: 800px;
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#Target{
    margin: 0 auto;
    margin-top: 5%;
    border: 8px solid white;
    box-shadow: 1px 3px 1px 4px gray inset;
}
#TargetTop{
    width: 500px;
}
#TargetTop h1{
    color: #fff;
    position: relative;
    left: 100%;
    top: -20px;
    transform: translateX(-20%);
}
#TargetTop h1:hover{
    -webkit-animation: light 1s;
    animation: light 1s;
    text-shadow: 
    0 0 3px #FFB200,
    0 0 3px #FFB200,
    0 0 1px #FFB200;
}
@-webkit-keyframes light{
    from{
        text-shadow : 
        0 0 0px white; 
    }
    to{
        text-shadow: 
        0 0 3px #FFB200,
        0 0 3px #FFB200,
        0 0 1px #FFB200
        
    }
}
@keyframes light{
    from{
        text-shadow : 
        0 0 0px white; 
    }
    to{
        text-shadow: 
        0 0 3px #FFB200,
        0 0 3px #FFB200,
        0 0 1px #FFB200
    }
}
#TargetTop div{
    position: relative;
    left: 80%;
    transform: translateX(-25%);
}
.btn{
    border: 0px;
    color: #231955;
    font-size: large;
    font-weight: bold;
    background-color: #FFB200;
    height: 30px;
    width: 80px;
    margin-left: 10%;
    top: 80px;
}
.icon{
    top: 2px;
    position:relative;
}
.flag{
    top: 2px;
    position:relative;
}
.false{
    margin-top: 3px;
    margin-left: -16px;
    position:absolute;
}
.TargetClass{
    height: 20px;
    width: 20px;
    background: #FFB200;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}
.TargetClass:hover{
    height: 20px;
    width: 20px;
    background: #FFE5B4;
}
.Origin{
    height: 20px;
    width: 20px;
    background: white;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: black;
}
